.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spinner{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40vh;
}

.line-container {
  display: inline-block;
  margin: 0px;
  width: 45%;
  height: 45%;
}

.bar-container {
  float:left;
  width: 50%;
  height: 50%;
}


.map {
  width: 100vw;
  height: 100vh;
}

#page1 {
  width: 100%;
  height: 100vh;
  margin-top: 200px;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#page2 {
  height: calc(100vh - 200px);
  overflow:scroll;
  margin-top: 80px;
  /* margin-bottom:40px; */
}

.scroll-up-button > svg {
  fill:black !important;
}

.scroll-up-button:focus {
  outline: none;
}

.scroll-up-button:hover {
  opacity: 1 !important;
}

.header{
  position: fixed;
  top:0;
  height: 150px;
  width: 100%;
  background-color: white;
  z-index: 100000;
}

.header-tab{
  font-family: 'Playfair Display', serif;
  background-color: #08306b;
  color:white;
  font-weight: 700;
  font-size: 40px;
  position:fixed;
  top:0;
  z-index: 1000;
  margin-left: 100px;
  height:100px;
  padding: 10px;
  padding-top:55px;
  margin-top:0px;
}

.hamburger-menu{
  position: fixed;
  top: 53px;
  right: 95px;
  z-index: 1000;
}

.page-title{
  font-family: 'Adamina', serif;
  width:100%;
  margin:0 auto;
  margin-top: 45px;
  text-align: center;
  font-size: 45px;
}

.subtitle{
  font-family: 'Mukta', sans-serif;
  letter-spacing: 2px;
  color: gray;
  width:100%;
  margin:0 auto;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.map-header{
  height:70px;
  width: 70%;
  margin: 0px auto;
  margin-bottom:0px;
  padding-bottom:0px;
  background-color: #08306b;
  border: 1px solid black;
  border-bottom: none;
  text-align: center;
  padding-top:23px;
}

.map-header-text{
  font-family: 'Adamina', serif;
  color:white;
  font-size:20px;
  margin-left:25px;
}

.mapboxgl-map {
  width: 70%;
  height: 60vh;
  margin: 100px auto;
  margin-top:0px;
  border: 1px solid black;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.mapboxgl-map{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.country-title{
  font-family: 'Adamina', serif;
  width:100%;
  margin:0 auto;
  margin-top:15px;
  margin-bottom:15px;
  text-align: center;
  font-size: 35px;
  z-index: 100000 !important;
  color:#08306b;
}

.button-container{
  display: flex;
  justify-content: space-between;
  width: 23rem;
  margin: 0 auto;
  text-align: center;
}

.sex-button{
  font-family: 'Adamina', serif;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 5px;
  width: 100px;
  border:1px solid #08306b;
  background-color: white;
  color: #08306b;
}

.sex-button:hover{
  font-family: 'Adamina', serif;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 5px;
  width: 100px;
  background-color:lightgray;
  color: #08306b;
}

.sex-button:focus{
  outline: none;
}

.sex-button-focused{
  font-family: 'Adamina', serif;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 5px;
  width: 100px;
  background-color: #08306b;
  color: white;
  outline: none;
}

.results-appear {
  opacity: 0.01;
}

.results-appear.results-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.results-enter {
  opacity: 0.01;
}

.results-enter.results-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.results-exit {
  opacity: 1;
}

.results-exit.results-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.relative{
  opacity: 1;
  transition: opacity 3s ease-in;
}
