.map-header{
  height:70px;
  width: 70%;
  margin: 0px auto;
  margin-bottom:0px;
  padding-bottom:0px;
  background-color: #08306b;
  border: 1px solid black;
  border-bottom: none;
  text-align: center;
  padding-top:23px;
}

.map-header-text{
  font-family: 'Adamina', serif;
  color:white;
  font-size:20px;
  margin-left:25px;
}

.mapboxgl-map {
  width: 70%;
  height: 60vh;
  margin: 100px auto;
  margin-top:0px;
  border: 1px solid black;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.mapboxgl-map{
  opacity: 1;
  transition: opacity 500ms ease-in;
}